---
import Link from '~/components/base/Link.astro'
import { getUrl } from '~/utils/common'
import { SITE } from '~/config'

const title = `${SITE.author} @ ${new URL(SITE.website).hostname}`
---

<Link
  class="link op-transition"
  href={getUrl('/')}
  {title}
  aria-current={Astro.url.pathname === `${getUrl('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- ICON SVG -->
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      width="2em"
      height="2em"
      aria-hidden="true"
    >
      <path
        fill="url(#vscodeIconsFileTypeLightAstro0)"
        d="M11.025 20.499c-.532 1.75-.154 4.184 1.105 5.331v-.042l.042-.112c.154-.741.756-1.203 1.526-1.175c.713.014 1.12.392 1.217 1.217c.042.308.042.616.056.938v.098c0 .7.196 1.371.588 1.959c.35.56.84.993 1.497 1.287l-.028-.056l-.028-.112c-.49-1.469-.14-2.49 1.147-3.358l.392-.266l.868-.573a4.25 4.25 0 0 0 1.791-3.037c.07-.532 0-1.05-.154-1.553l-.21.14c-1.945 1.035-4.17 1.4-6.325.98c-1.301-.197-2.56-.56-3.498-1.652z"
      >
      </path>
      <path
        class="dark:fill-[#fdfdfd]"
        fill="#17191e"
        d="M4.925 20.191s3.736-1.82 7.486-1.82l2.84-8.759c.098-.42.406-.7.756-.7s.644.28.756.714l2.826 8.746c4.45 0 7.487 1.82 7.487 1.82L20.709 2.84c-.168-.518-.49-.84-.896-.84h-7.612c-.406 0-.7.322-.896.84z"
      >
      </path>
      <defs>
        <linearGradient
          id="vscodeIconsFileTypeLightAstro0"
          x1="8.19"
          x2="16.91"
          y1="23"
          y2="18.89"
          gradientTransform="translate(-.673 -2.198)scale(1.3993)"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0" stop-color="#d83333"></stop>
          <stop offset="1" stop-color="#f041ff"></stop>
        </linearGradient>
      </defs>
    </svg> -->

    <!-- TEXT SVG (Great Vibes) -->
    <svg
      width="107.548"
      height="32.732"
      viewBox="0 0 107.548 32.732"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <g
        id="svgGroup"
        class="draw dark:fill-[#fdfdfd] dark:stroke-[#fdfdfd]"
        fill="#17191e"
        fill-rule="evenodd"
        stroke="#17191e"
        stroke-width="0.4"
        stroke-linecap="round"
        font-size="9pt"
      >
        <path
          vector-effect="non-scaling-stroke"
          d="M 287.9 34.4 L 276.2 33.4 Q 276.6 31.4 276.6 26.85 A 24.167 24.167 0 0 0 275.954 21.18 A 21.122 21.122 0 0 0 275.1 18.45 Q 273.6 14.6 270.7 14.6 A 3.408 3.408 0 0 0 268.532 15.484 Q 266.169 17.428 263.9 23.65 A 55.469 55.469 0 0 0 260.639 40.801 A 63.628 63.628 0 0 0 260.6 43.05 A 86.791 86.791 0 0 0 260.795 49.079 Q 261.191 54.742 262.388 58.6 A 23.943 23.943 0 0 0 262.6 59.25 A 15.876 15.876 0 0 0 263.566 61.529 Q 264.17 62.673 264.894 63.45 A 4.776 4.776 0 0 0 268.5 65.1 A 6.622 6.622 0 0 0 271.449 64.461 Q 273.243 63.583 274.4 61.5 A 18.044 18.044 0 0 0 275.605 58.771 Q 276.728 55.603 277.4 50.9 A 42.217 42.217 0 0 0 272.766 51.167 A 52.493 52.493 0 0 0 269.7 51.6 L 267.6 41.7 Q 276.247 41.13 289.047 39.657 A 807.043 807.043 0 0 0 290.4 39.5 Q 291 44.7 291 49 Q 291 53.278 288.476 59.634 A 59.223 59.223 0 0 1 288.45 59.7 Q 285.9 66.1 280.85 71 A 19.255 19.255 0 0 1 276.802 74.057 A 14.227 14.227 0 0 1 269.8 75.9 A 21.507 21.507 0 0 1 261.36 74.294 Q 256.617 72.293 253.15 67.8 Q 248.191 61.373 247.167 50.728 A 60.907 60.907 0 0 1 246.9 44.9 A 77.913 77.913 0 0 1 248.176 30.574 A 67.629 67.629 0 0 1 249.6 24.5 A 47.981 47.981 0 0 1 252.581 16.589 A 35.058 35.058 0 0 1 257.6 8.9 A 20.393 20.393 0 0 1 261.512 5.365 A 14.292 14.292 0 0 1 269.7 2.8 A 18.181 18.181 0 0 1 279.478 5.7 A 24.294 24.294 0 0 1 282.1 7.6 A 14.621 14.621 0 0 1 284.888 10.75 Q 285.872 12.225 286.663 14.058 A 25.943 25.943 0 0 1 286.95 14.75 Q 288.8 19.4 288.8 24.5 Q 288.8 29.6 287.9 34.4 Z M 209.5 30.8 L 216.5 31.8 A 49.262 49.262 0 0 0 215.872 36.006 Q 215.2 42.083 215.2 51.75 Q 215.2 65.2 214.45 71.55 Q 213.7 77.9 212 84 Q 210.522 89.303 207.836 92.716 A 17.184 17.184 0 0 1 207 93.7 Q 203.7 97.3 198.3 97.3 A 13.874 13.874 0 0 1 191.309 95.359 A 19.974 19.974 0 0 1 188 92.95 Q 183.1 88.6 180.1 82.5 L 188.5 78.9 Q 192.4 86.5 197.6 86.5 A 3.223 3.223 0 0 0 199.87 85.502 Q 201.013 84.405 201.928 82.104 A 23.623 23.623 0 0 0 202.6 80.15 Q 204.5 73.8 204.5 64.4 A 36.928 36.928 0 0 1 202.08 68.217 Q 197.92 73.9 193.55 73.9 A 13.465 13.465 0 0 1 189.322 73.265 A 11.115 11.115 0 0 1 184.45 70.05 A 11.967 11.967 0 0 1 182.107 65.959 Q 181 62.796 181 58.35 Q 181 50.5 183.7 42.75 A 51.104 51.104 0 0 1 186 37.168 Q 187.943 33.184 190.35 30.35 Q 193.871 26.206 197.113 25.755 A 5.711 5.711 0 0 1 197.9 25.7 A 15.381 15.381 0 0 1 206.788 28.569 A 21.602 21.602 0 0 1 209.5 30.8 Z M 173.5 72.1 L 161.8 71 Q 162.9 59.6 162.9 47.95 A 62.763 62.763 0 0 0 162.803 44.289 Q 162.493 39.02 161.198 37.226 A 1.939 1.939 0 0 0 159.6 36.3 Q 158.091 36.3 155.781 43.463 A 85.724 85.724 0 0 0 155.5 44.35 A 74.303 74.303 0 0 0 152.819 56.228 A 65.551 65.551 0 0 0 152.4 60.1 A 732.865 732.865 0 0 0 152.52 62.473 Q 152.693 65.779 152.999 71.307 A 6491.091 6491.091 0 0 0 153.2 74.9 L 141.5 73.8 A 417.118 417.118 0 0 1 140.83 63.703 Q 140.534 58.192 140.442 53.309 A 228.136 228.136 0 0 1 140.4 49 A 328.979 328.979 0 0 1 140.532 39.452 Q 140.663 34.958 140.923 30.939 A 197.655 197.655 0 0 1 141 29.8 L 148.4 30.6 A 42.036 42.036 0 0 1 148.514 31.072 Q 148.783 32.213 149.538 35.512 A 3274.503 3274.503 0 0 1 149.9 37.1 A 49.088 49.088 0 0 1 152.351 32.722 Q 155.075 28.44 157.82 26.697 A 7 7 0 0 1 161.6 25.5 A 10.944 10.944 0 0 1 172.066 32.033 Q 174.505 36.9 174.768 45.392 A 68.08 68.08 0 0 1 174.8 47.5 A 231.708 231.708 0 0 1 174.292 62.547 A 276.902 276.902 0 0 1 173.5 72.1 Z M 21.55 3 A 51.566 51.566 0 0 0 19.503 3.041 Q 10.849 3.385 0.4 6.6 Q 1.4 22.3 1.4 37 A 380.283 380.283 0 0 1 1.263 46.852 Q 0.962 58.419 0 73.2 A 4472.393 4472.393 0 0 0 1.751 73.354 Q 15.968 74.6 17.1 74.6 A 27.005 27.005 0 0 0 27.033 72.701 A 33.732 33.732 0 0 0 34.9 68.25 A 32.771 32.771 0 0 0 36.053 67.348 Q 38.461 65.376 40.08 63.241 A 15.322 15.322 0 0 0 43.4 53.8 A 15.064 15.064 0 0 0 37.407 41.242 A 23.455 23.455 0 0 0 31.8 38.1 A 39.896 39.896 0 0 0 31.854 38.071 Q 35.307 36.255 37.794 34.08 A 17.404 17.404 0 0 0 44.2 20.5 A 14.257 14.257 0 0 0 41.491 11.983 A 18.76 18.76 0 0 0 37.6 8.05 A 23.673 23.673 0 0 0 29.529 4.037 A 29.445 29.445 0 0 0 21.55 3 Z M 385.6 74.7 L 372.8 73.5 Q 365.4 43.7 363.8 26.8 L 375.2 27.8 Q 376.9 46.2 379.9 60.8 Q 384 45.8 388.6 23.1 L 399.4 24 Q 393.7 50.3 385.6 74.7 Z M 356.2 75.3 L 347.8 74.6 L 347 71.4 A 20.583 20.583 0 0 1 341.649 73.583 A 17.763 17.763 0 0 1 337.4 74.1 Q 332.5 74.1 329.3 70.85 Q 326.462 67.968 326.141 62.845 A 21.49 21.49 0 0 1 326.1 61.5 A 11.552 11.552 0 0 1 329.225 53.609 A 18.366 18.366 0 0 1 332.15 51 A 24.109 24.109 0 0 1 345.731 46.412 A 29.193 29.193 0 0 1 346.1 46.4 L 346.1 43.7 A 24.809 24.809 0 0 0 345.977 41.116 Q 345.703 38.51 344.813 37.181 A 2.878 2.878 0 0 0 342.3 35.8 Q 340.4 35.8 338.85 38.45 A 18.681 18.681 0 0 0 337.121 42.448 A 22.761 22.761 0 0 0 336.6 44.5 L 327.4 43.6 A 34.708 34.708 0 0 1 329.665 36.181 A 27.836 27.836 0 0 1 333.1 30.35 A 14.152 14.152 0 0 1 337.44 26.53 Q 340.289 24.951 343.868 24.902 A 16.806 16.806 0 0 1 344.1 24.9 A 12.82 12.82 0 0 1 348.442 25.598 Q 352.043 26.886 354.15 30.55 Q 357.384 36.172 357.4 46.498 A 66.385 66.385 0 0 1 357.4 46.6 Q 357.4 54.563 356.697 67.156 A 844.577 844.577 0 0 1 356.2 75.3 Z M 424.9 58.6 L 432.5 63.1 Q 430.6 66.4 428.85 68.7 A 13.479 13.479 0 0 1 427.139 70.536 Q 425.678 71.853 423.6 73.1 A 14.842 14.842 0 0 1 415.934 75.199 A 17.53 17.53 0 0 1 415.8 75.2 A 12.817 12.817 0 0 1 406.165 70.956 A 17.93 17.93 0 0 1 405.2 69.85 A 18.385 18.385 0 0 1 401.845 63.107 Q 401.107 60.418 400.945 57.227 A 36.161 36.161 0 0 1 400.9 55.4 A 51.612 51.612 0 0 1 403.158 40.004 A 47.875 47.875 0 0 1 404.6 36 A 19.649 19.649 0 0 1 408.177 30.365 A 18.207 18.207 0 0 1 410.35 28.35 A 15.324 15.324 0 0 1 413.37 26.468 A 11.03 11.03 0 0 1 418.05 25.4 Q 420.866 25.4 422.894 26.035 A 9.219 9.219 0 0 1 424.4 26.65 A 17.526 17.526 0 0 1 426.318 27.801 Q 427.434 28.578 428.25 29.45 A 9.066 9.066 0 0 1 429.288 30.816 Q 430.112 32.125 430.8 34 Q 431.85 36.863 432.308 38.724 A 20.993 20.993 0 0 1 432.35 38.9 A 20.072 20.072 0 0 1 432.604 40.178 Q 432.822 41.472 432.997 43.26 A 79.829 79.829 0 0 1 433.1 44.4 Q 433.5 49.2 433.5 53.1 Q 425.5 55.3 412.8 57.1 Q 413.007 59.866 413.597 61.867 A 12.206 12.206 0 0 0 414.2 63.5 A 7.836 7.836 0 0 0 414.719 64.464 Q 415.64 65.9 416.8 65.9 Q 419.851 65.9 423.225 61.193 A 34.631 34.631 0 0 0 424.9 58.6 Z M 443 0 L 454.7 0.9 A 920.635 920.635 0 0 0 453.599 24.236 Q 453.2 36.033 453.2 46.5 Q 453.2 65.194 453.624 73.627 A 129.295 129.295 0 0 0 453.7 75 L 441.9 73.9 Q 441.594 65.938 441.522 52.846 A 1553.351 1553.351 0 0 1 441.5 44.35 Q 441.5 25.2 443 0 Z M 99.6 75.4 L 88 74.4 A 11866.412 11866.412 0 0 0 88.07 70.931 Q 88.285 60.246 88.299 58.41 A 28.83 28.83 0 0 0 88.3 58.2 Q 88.3 39.7 86.5 29.9 L 94 30.7 A 42.619 42.619 0 0 0 94.7 33.265 Q 95.069 34.46 95.481 35.505 A 25.71 25.71 0 0 0 95.6 35.8 A 45.758 45.758 0 0 1 97.595 31.968 Q 101.38 25.53 105.225 25.308 A 4.765 4.765 0 0 1 105.5 25.3 A 8.755 8.755 0 0 1 111.348 27.541 A 12.723 12.723 0 0 1 112.7 28.9 L 110.1 38.1 Q 108.505 37.003 106.115 37 A 10.345 10.345 0 0 0 106.1 37 A 3.624 3.624 0 0 0 103.406 38.31 Q 101.374 40.498 100.065 46.341 A 52.007 52.007 0 0 0 99.8 47.6 Q 100 54.6 100 61 A 244.183 244.183 0 0 1 99.906 67.575 Q 99.812 71.044 99.625 74.886 A 397.374 397.374 0 0 1 99.6 75.4 Z M 310.1 75.4 L 298.5 74.4 A 11866.412 11866.412 0 0 0 298.57 70.931 Q 298.785 60.246 298.799 58.41 A 28.83 28.83 0 0 0 298.8 58.2 Q 298.8 39.7 297 29.9 L 304.5 30.7 A 42.619 42.619 0 0 0 305.2 33.265 Q 305.569 34.46 305.981 35.505 A 25.71 25.71 0 0 0 306.1 35.8 A 45.758 45.758 0 0 1 308.095 31.968 Q 311.88 25.53 315.725 25.308 A 4.765 4.765 0 0 1 316 25.3 A 8.755 8.755 0 0 1 321.848 27.541 A 12.723 12.723 0 0 1 323.2 28.9 L 320.6 38.1 Q 319.005 37.003 316.615 37 A 10.345 10.345 0 0 0 316.6 37 A 3.624 3.624 0 0 0 313.906 38.31 Q 311.874 40.498 310.565 46.341 A 52.007 52.007 0 0 0 310.3 47.6 Q 310.5 54.6 310.5 61 A 244.183 244.183 0 0 1 310.406 67.575 Q 310.312 71.044 310.125 74.886 A 397.374 397.374 0 0 1 310.1 75.4 Z M 47.8 54.2 Q 47.8 44.9 51.6 36 A 19.3 19.3 0 0 1 55.515 30.191 A 18.22 18.22 0 0 1 57.25 28.65 Q 60.9 25.8 65.4 25.8 A 16.552 16.552 0 0 1 69.283 26.236 A 12.816 12.816 0 0 1 73.15 27.85 Q 76.4 29.9 78.1 33.3 A 32.477 32.477 0 0 1 81.397 47.407 A 37.557 37.557 0 0 1 81.4 47.9 A 45.515 45.515 0 0 1 80.181 58.64 A 37.179 37.179 0 0 1 76.95 67.25 A 19.994 19.994 0 0 1 74.081 71.429 A 12.457 12.457 0 0 1 64.5 75.7 A 18.24 18.24 0 0 1 56.999 74.271 Q 47.8 70.157 47.8 54.2 Z M 119.2 73.4 L 119.2 25.4 L 130.6 26.5 L 130.6 74.5 L 119.2 73.4 Z M 59.5 55.1 A 38.552 38.552 0 0 0 59.661 58.796 Q 60.011 62.403 61.117 64.299 A 3.764 3.764 0 0 0 64.5 66.4 A 1.84 1.84 0 0 0 65.807 65.78 Q 66.953 64.632 67.865 61.359 A 34.062 34.062 0 0 0 68.2 60.05 A 56.537 56.537 0 0 0 69.489 52.327 A 47.471 47.471 0 0 0 69.7 47.9 A 59.557 59.557 0 0 0 69.576 43.878 Q 69.169 37.9 67.426 35.993 A 2.529 2.529 0 0 0 65.5 35.1 A 2.416 2.416 0 0 0 63.769 35.908 Q 62.233 37.453 61.15 41.95 A 59.523 59.523 0 0 0 59.695 50.704 A 50.476 50.476 0 0 0 59.5 55.1 Z M 204.8 46.6 L 205 39 Q 202.254 36.065 200.584 35.909 A 1.979 1.979 0 0 0 200.4 35.9 Q 198.197 35.9 195.956 41.489 A 42.051 42.051 0 0 0 195.35 43.1 A 45.276 45.276 0 0 0 192.806 57.643 A 51.065 51.065 0 0 0 192.8 58.4 A 18.336 18.336 0 0 0 192.867 60.025 Q 193.039 61.95 193.65 63.1 Q 194.349 64.416 195.184 64.65 A 1.353 1.353 0 0 0 195.55 64.7 A 1.558 1.558 0 0 0 196.192 64.542 Q 197.078 64.138 198.3 62.7 A 14.105 14.105 0 0 0 199.359 61.258 Q 200.594 59.359 201.95 56.3 A 38.778 38.778 0 0 0 204.211 49.51 A 46.147 46.147 0 0 0 204.8 46.6 Z M 30.7 21.9 A 5.545 5.545 0 0 0 29.006 17.899 A 8.721 8.721 0 0 0 27.75 16.85 A 11.435 11.435 0 0 0 24.109 15.139 A 10.462 10.462 0 0 0 21.45 14.8 A 21.318 21.318 0 0 0 17.426 15.201 A 27.836 27.836 0 0 0 14.3 16 Q 14.7 28 14.7 34.1 Q 18.19 33.796 22.314 31.564 A 36.607 36.607 0 0 0 25 29.95 A 20.22 20.22 0 0 0 27.494 28.041 Q 30.7 25.125 30.7 21.9 Z M 19.3 62.4 A 9.484 9.484 0 0 0 22.536 61.798 Q 23.792 61.344 25.1 60.546 A 19.498 19.498 0 0 0 26.3 59.75 A 11.582 11.582 0 0 0 28.168 58.109 Q 30 56.077 30 53.65 A 5.578 5.578 0 0 0 28.714 50.131 Q 28.048 49.285 27.037 48.508 A 14.506 14.506 0 0 0 25.7 47.6 A 19.984 19.984 0 0 0 21.29 45.654 Q 18.319 44.728 14.6 44.4 Q 14.4 56.2 14.2 62.1 A 17.217 17.217 0 0 0 15.436 62.255 Q 16.699 62.372 18.431 62.394 A 66.071 66.071 0 0 0 19.3 62.4 Z M 119 18.9 L 120 7.8 L 131.2 9.1 L 130.2 20.3 L 119 18.9 Z M 419 35.2 A 2.489 2.489 0 0 0 417.413 35.819 Q 416.503 36.558 415.684 38.18 A 17.485 17.485 0 0 0 415.05 39.6 A 27.737 27.737 0 0 0 413.6 44.67 A 37.891 37.891 0 0 0 413 49.8 Q 418.3 48.7 422.2 47.7 Q 422.2 36.004 419.398 35.252 A 1.53 1.53 0 0 0 419 35.2 Z M 345.6 64.1 L 345.8 55.7 Q 342.719 55.962 340.626 56.891 A 8.502 8.502 0 0 0 338.7 58.05 Q 337.243 59.234 336.671 60.472 A 3.845 3.845 0 0 0 336.3 62.1 Q 336.3 65.076 339.587 65.284 A 8.122 8.122 0 0 0 340.1 65.3 A 12.785 12.785 0 0 0 343.207 64.899 A 17.159 17.159 0 0 0 345.6 64.1 Z"
        >
        </path>
      </g>
    </svg>
  </div>
</Link>

<style>
  .link {
    /* opacity: 1; */
    -webkit-user-select: none;
    user-select: none;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-container svg {
    height: 2rem;
  }

  @keyframes grow {
    0% {
      stroke-dashoffset: 1px;
      stroke-dasharray: 350px 0;
    }
    20% {
      stroke-dasharray: 0 350px;
    }
    80% {
      stroke-dasharray: 0 350px;
    }
    to {
      stroke-dasharray: 350px 0;
    }
  }

  .draw {
    stroke-dashoffset: 1px;
    stroke-dasharray: 350px 0;
    animation: grow 10s ease forwards infinite;
  }

  @media (prefers-reduced-motion), print {
    .draw {
      stroke-dasharray: unset !important;
      animation: none !important;
    }
  }
</style>
